/* HEADER */

header .nav-link {
    color: white;
}

header .logo-img {
    height: 100px;
}

/* MAIN */
.pizza-img {
    max-height: 200px;
    aspect-ratio: 1/1;
    background: #000000 url("https://source.unsplash.com/random/200×200/?pizza") center;
    background-size: cover;
}

