/* HEADER */

header .logo-img {
    height: 100px;
}

/* CONTENT & SIDEBAR SIZE*/
.sidebar, .content {
    width: 100%;
}

@media all and (min-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .content {
        width: calc(100% - 200px);
        min-height: 80vh;
    }
}

/* MAIN */
main {
    min-height: calc(100% - (118px - 146px));
}
.pizza-img {
    object-fit: cover;
    height: 150px;
    aspect-ratio: 1/1;
    background: #000000 url("/img/pizza-default.jpg") center;
    background-size: cover;
}

.card-img-top {
    min-height: 200px;
}

/* MODAL */
#modal-sweet-delete{
    background-color: #00000075;
}
