<header class="border-bottom">
    <nav class="navbar navbar-light navbar-expand-lg bg-body-tertiary px-3 py-1 container-fluid">
        <a class="navbar-brand d-inline-block" href="@Url.Action("Index","Home")">
            <img class="align-middle logo-img" src="~/img/logoSeaShark.png" alt="seashark logo" />
            <span class="display-5 fw-semibold align-middle">SeaShark</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav text-center">
                <li class="nav-item">
                    <a class="nav-link active link-dark" aria-current="page" asp-action="Index">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-dark" href="#">PRIVACY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-dark" href="#">NEWS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-dark" asp-controller="Home" asp-action="Index">LOG OUT</a>
                </li>
            </ul>
        </div>
    </nav>
</header>