<!-- Modal -->
<div class="position-fixed top-50 start-50 translate-middle z-9 d-none" id="modal-sweet-delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Warning</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p> You are deleting <span id="modal-title"></span>, it will be lost forever.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-dismiss" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger btn-confirm">Confirm</button>
            </div>
        </div>
    </div>
</div>