@model Pizza

<div class="mb-3">
    <label asp-for="Name" class="form-label">Name</label>
    <input type="text" class="form-control" asp-for="Name">
    <span class="invalid-feedback d-inline" asp-validation-for="Name"></span>
</div>
<div class="mb-3">
    <label asp-for="Price" class="form-label">Price</label>
    <input type="number" step="0.01" class="form-control" asp-for="Price">
    <span class="invalid-feedback d-inline" asp-validation-for="Price"></span>
</div>
<div class="mb-3">
    <label asp-for="Description" class="form-label">Description</label>
    <textarea class="form-control" asp-for="Description" rows="3" placeholder="Write a pizza description..."></textarea>
    <span class="invalid-feedback d-inline" asp-validation-for="Description"></span>
</div>
<div class="mb-3">
    <label asp-for="ImgPath" class="form-label">Image Path</label>
    <input type="text" class="form-control" asp-for="ImgPath">
    <span class="invalid-feedback d-inline" asp-validation-for="ImgPath"></span>
</div>
